/* Réinitialisation de certains styles par défaut */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

/* En-têtes et navigation */
header {
  background: #0056b3;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Liens */
a {
  color: #0056b3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Section principale et mise en page des articles */
main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #ddd;
}

article {
  margin-bottom: 20px;
}

/* Titres des articles ou des sections */
h1, h2, h3 {
  color: #333;
}

/* Paragraphes et textes */
p {
  margin: 0.75rem 0;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Formes et boutons */
button, input[type="submit"] {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: #003580;
}

/* Pied de page */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* Médias queries pour responsive design */
@media (max-width: 768px) {
  body {
    padding: 0 20px;
  }

  main {
    width: auto;
    padding: 10px;
    margin: 10px;
  }

  nav ul li {
    display: block;
    margin: 0;
  }

  header {
    padding: 0.5rem 0;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 0.9rem;
  }

  nav ul {
    text-align: center;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  main {
    padding: 5px;
  }

  h1, h2, h3 {
    font-size: 1.5rem;
  }

  button, input[type="submit"] {
    padding: 8px 16px;
    font-size: 0.8rem;
  }
}

/* Styles spécifiques pour les classes */
.profile-pic {
  width: 100%; /* prendra la pleine largeur de son conteneur */
  max-width: 200px; /* largeur maximale de l'image */
  height: auto; /* pour maintenir le ratio */
}

/* Médias Queries */
@media (max-width: 768px) {
  .profile-pic {
    max-width: 150px; /* taille plus petite sur les écrans de tablettes */
  }
}

@media (max-width: 480px) {
  .profile-pic {
    max-width: 100px; /* taille encore plus petite sur les écrans de téléphones */
  }
}
